@import url('https://fonts.googleapis.com/css2?family=Chango&family=Monoton&family=Patua+One&family=Righteous&family=Sarala&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-item:hover {
    background-color: rgba(236, 214, 196, 0.53);
    cursor: pointer;
    border-radius: 10px;
    padding: 1px;
    transition: .3s ease all;
}

.conteudo {
    margin-bottom: 36px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
}

.conteudo-principal-escrito-botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
}

.conteudo-principal-escrito-botao:hover {
    background-color:white;
    color:black;
    cursor: pointer;
    transition: .3s ease all;
}

.conteudo-principal-imagem {
    height: 480px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 24px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 39px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}

.rodape {
    padding: 20px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
    height: 69px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

